[mysqld]
port=3336
datadir=/home/luanhao/usr/.fulgurdb/data
skip-log-bin
secure-file-priv = ""
innodb_buffer_pool_size = 10636764160
performance_schema=OFF
skip-host-cache
skip-name-resolve
skip-ssl
max-connections = 10000
